* {
  box-sizing: border-box;
}
/* CONTAINER STYLE */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
}
/* DIV STYLE */
.left {
  height: 100%;
  width: 20%;
  background-color: #4c00f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  color: white;
}
.my_logo {
  width: 110px;
  height: 80px;
}

.purple {
  height: 5%;
  background-color: #4c00f7;
  width: 200px;
}
/* Central div */
.center {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.profile-image {
  height: 90%;
  box-shadow: 30px 10px 90px -38px;
  background-image: url(./assets/andrii.jpeg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding-top: 170px;
}

.right {
  height: 100%;
  width: 45%;
  padding: 30px;
  padding-left: 0;
}

.right-content {
  /* background-color: green; */
  height: 100%;
  display: flex;
}
.line-container {
  height: 100%;
  padding-top: 191px;
}
.line {
  height: 5px;
  width: 30px;
  background-color: #4c00f7;
}
.picture-line {
  height: 5px;
  width: 90px;
  background-color: #4c00f7;
}

.main-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.menu-container {
  font-size: 40px;
}

.menu-container i{
	font-size: 50px;
	cursor: pointer;
	transition: opacity ease 1s
}

.menu-container i:hover{
	opacity: 0.4;
}

.btn-left {
  color: #fff;
  background-color: #4c00f7;
  border-radius: 30px;
  padding: 10px 15px;
  border: none;
}

.btn-right {
  border-radius: 30px;
  border: solid black 1px;
  padding: 10px 15px;
}
